<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
   		<unit name="ImplicitCopyBlackbox" namespace="de.fraunhofer.iem.implicitcopy">
    		<library name="Implicit Copy Java Blackbox" class="de.fraunhofer.iem.implicitcopy.ImplicitCopyBlackbox">
    			<metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/>
    		</library>
		</unit>
	</extension>
 <extension
       point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformationContainer">
    <sourceContainer
          path="transforms/">
    </sourceContainer>
 </extension>
 <extension
       point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
    <library
          file="transforms/de/fraunhofer/iem/implicitcopy/ImplicitCopy.qvto"
          id="de.fraunhofer.iem.implicitcopy.ImplicitCopy">
    </library>
 </extension>
</plugin>
